.button {
  cursor: pointer;
  color: blue;
}

.fade-button {
  cursor: pointer;
  color: red;
}

.fade-button:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

#hidden {
  display: none;
}
